<div class="container">
  <h2 i18n="Attempt header | attempts">Attempts: {{attemptCounter}}</h2>
  <div class="center" *ngIf="attempts$.length; else mockData">
    <div class="card" *ngFor="let attempt of attempts$">
      <app-attempt-card class="guessNumber" [attempt$]="attempt"></app-attempt-card>
    </div>
  </div>
  <ng-template #mockData>
    <div class="card" *ngIf="loading; else mockAttemptReady">
      <mat-spinner
        color="warn"
        diameter="80"
      ></mat-spinner>
    </div>
    <ng-template #mockAttemptReady>
      <div class="card">
        <app-attempt-card class="guessNumber" [attempt$]="mockAttempt$"></app-attempt-card>
      </div>
    </ng-template>
  </ng-template>
</div>
