<div class="container">
  <h1 i18n="main header | Game name">Mastermind Game</h1>
</div>

<div class="container">
  <div class="card">
    <button i18n="settings button | Level: easy" class="btn" (click)="changeSettings(0)">Easy</button>
    <button i18n="settings button | Level: medium" class="btn" (click)="changeSettings(1)">Medium</button>
    <button i18n="settings button | Level: hard" class="btn" (click)="changeSettings(2)">Hard</button>
  </div>
</div>

<app-attempts-list
  [attempts$]="gameService.attempts"
  [mockAttempt$]="mockAttempt$"
  [loading]="loading"
></app-attempts-list>
<app-input-form
  [gameSettings$]="gameSettingsDto"
  [gameStatus$]="gameService.gameStatus"
  (attemptEventEmitter)="createAttemptAndCheckWinner($event)"
></app-input-form>
<!--<app-input-form-number-->
<!--  [gameSettings$]="gameSettingsDto"-->
<!--  [gameStatus$]="this.gameService.gameStatus"-->
<!--  (attemptEventEmitter)="createAttemptAndCheckWinner($event)"-->
<!--&gt;-->
<!--</app-input-form-number>-->
<div class="container">
  <div class="card">
    <button i18n="Game button | New Game" class="btn" (click)="newGame()">New Game</button>
  </div>
</div>
