<div class="container">
  <h1>Mastermind Game</h1>
</div>

<div class="container">
  <div class="card">
    <button class="btn" (click)="changeSettings(0)">Easy</button>
    <button class="btn" (click)="changeSettings(1)">Medium</button>
    <button class="btn" (click)="changeSettings(2)">Hard</button>
  </div>
</div>

<app-attempts-list
  [attempts$]="gameService.attempts"
  [mockAttempt$]="mockAttempt$"
></app-attempts-list>
<app-input-form
  [gameSettings$]="gameSettingsDto"
  (attemptEventEmitter)="createAttempt($event)"
></app-input-form>

<div class="container">
  <div class="card">
    <button class="btn" (click)="newGame()">New Game</button>
  </div>
</div>
