.error-content{
  text-align: center;
  margin: auto;
}

.error-header {
  font-size: 50px;

  .mat-icon {
    font-size: 50pt;
    margin-right: 40px;
    height: 57pt;
    vertical-align: middle;
  }
}

h3 {
  font-size: 25pt;
}

h4 {
  line-height: 30px;
}
