<div class="container">
  <form class="card" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="form-control">
      <label i18n="Input label | label">Your guess</label>
      <input matInput autocomplete="off" type="text" id="guess" placeholder="1234..." [formControl]="guessControl">
      <ul *ngIf="guessControl.errors">
        <li *ngIf="guessControl.hasError('maxLength')">
          <mat-error>
            Input should not exceed <strong>{{num}} numbers</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('minLength')">
          <mat-error>
            Input should not be less than <strong>{{num}} numbers</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('range')">
          <mat-error>
            Numbers should be in the range from <strong>{{min}} to {{max}}</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('numbersOnly')">
          <mat-error>
            <strong>Only numbers </strong>are allowed
          </mat-error>
        </li>
      </ul>
    </div>
    <button
      i18n="Check button | Check attempt"
      class="btn" type="submit" [disabled]="!formGroup.valid || !guessControl.value">Check
    </button>
  </form>
</div>
