<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label i18n="Input label | label">Your guess</label>
      <input type="text" id="guess" placeholder="1234..." formControlName="guess" >
      <div *ngIf="form.controls['guess'].invalid && form.controls['guess'].touched"
           class="validation"
      >
        <small
          i18n="Error message | Errors from form validators"
          *ngIf="form.controls['guess'].errors">
          Type {{maxLen}} positive numbers between {{min}} - {{max}}
        </small>
      </div>
    </div>
    <button
      i18n="Check button | Check attempt"
      class="btn" type="submit" [disabled]="form?.invalid" >Check</button>
  </form>

</div>
