<div class="container">
  <form
    class="card"
    [formControl]="guessControl" (ngSubmit)="submit()"
  >
    <mat-form-field
      class="number-full-width"
    >
      <mat-label>Guess</mat-label>
      <input
        type="text"
        matInput
        [formControl]="guessControl"
        [errorStateMatcher]="matcher"
        placeholder="Your guess"
      >
      <ul *ngIf="guessControl.errors">
        <li *ngIf="guessControl.hasError('maxLength')">
          <mat-error>
            Min length have to be <strong>a {{num}} decimal numbers.</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('minLength')">
          <mat-error>
            Max length have to be <strong>a min of {{num}} decimal numbers.</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('range')">
          <mat-error>
            Type positive numbers between <strong>{{min}} - {{max}}.</strong>
          </mat-error>
        </li>
        <li *ngIf="guessControl.hasError('numbersOnly')">
          <mat-error>
            <strong>Numbers only </strong> allowed.
          </mat-error>
        </li>
      </ul>
    </mat-form-field>
    <button
      i18n="Check button | Check attempt"
      class="btn" type="submit" [disabled]="!formGroup.valid">Check
    </button>
  </form>
</div>
